body {
  background: hsla(210, 20%, 90%, 1);
  padding: 2em 0;
  line-height: 1.6;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

h1, h2, h3, h5 {
  margin: 0;
}